@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffc4dd;
  font-family: "Bitter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 30px;
  color: #232d13;
  font-size: 50px;
}

.box {
  background-color: #446a46;
  color: #e1ffb1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 180px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
